@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
nav .navbar-nav li a:hover{
    color: #8BC63E !important;
}

nav .navbar-nav li .active{
    color: #8BC63E !important;
}

header{
    background-color: #8BC63E;
    position: relative;
    isolation: isolate;
}



header::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: url('/frontend/img/Web\ Guidance\ -\ Preview\ 1.png') no-repeat;
}



#sponsor{
    margin-top: 70px;
}

.time{
    font-size: 6rem;
}
.day{
    font-size: 2.8rem;
    margin-bottom: 110px;
}

.ssx{
    padding: 6rem;
}

footer{
    margin-top: 75px;
    background-color: #8BC63E;
}

.ops-img{
    width: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.future{
    margin-top: 120px;
}